body {
  background-color: lightblue;
}

h3 {
  color: navy;
}

.p1 {
  font-family: "Lucida Console", "Courier New", monospace;
}

.p2 {
  font-family: "Lucida Console", "Courier New", monospace;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
